.icon-title {
  height: 2.4rem;
  width: 2.4rem;
  color: #1971c2;
}

/**********************/
/* SCROLLBAR */
/**********************/

body::-webkit-scrollbar {
  /* background-color: #fff; */
  width: 16px;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 16px;
  border: 5px solid #fff;
}

body::-webkit-scrollbar-thumb:hover {
  /* background-color: #a0a0a5; */
  border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
  display: none;
}

/**********************/
/* HEADER */
/**********************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 6.4rem;
  padding: 0 4.8rem;
}

.header-name {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-name span {
  color: #1971c2;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #343a40;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1971c2;
}

/**********************/
/* HERO SECTION */
/**********************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  align-items: center;
}

.hero-name {
  font-size: 6.2rem;
  font-weight: 700;
  color: #1971c2;
  letter-spacing: -0 0.5px;
  margin-bottom: 2.4rem;
}

.hero-profession {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #339af0;
  letter-spacing: 1px;
}

.hero-img {
  width: 100%;
}

/**********************/
/* PROFILE SECTION */
/**********************/

.section-profile {
  padding: 4.8rem 0 9.6rem 0;
}

.profile-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-img-box::before,
.profile-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-img-box::before {
  background-color: #339af0;
  width: 70%;
  padding-bottom: 70%;
  z-index: -1;
}

.profile-img-box::after {
  background-color: #1971c2;
  width: 75%;
  padding-bottom: 75%;
  z-index: -2;
}

.profile-img {
  width: 65%;
  border-radius: 50%;
}

/**********************/
/* SECTION */
/**********************/

/**********************/
/* SECTION */
/**********************/
